.footerContainer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #aaa;
    height: 50px;
    padding: 5px;
    z-index: 100;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}