.scrollableTabBar {
    overflow-x: auto;
    overflow-y: hidden;
}

.subNavBar {
    top: 50px !important;
}

.tableContainer {
    position: absolute;
    top: 100px;
    bottom: 0;
    overflow: auto;
    height: calc(100vh - 150px);
    padding: 20px;
    padding-bottom: 100px;
    left: 0;
    right: 0;
    text-align: center;
}

.logo {
    display: auto;
    @media screen and (max-width: 600px) {
        display: none !important;
    }
}

.officialsList {
    max-width: 700px;
    margin: auto;
}

.periodCard {
    flex-direction: column;
    text-align: left;
}