$standard-line-height: 16px;
$fillable-line-height: 22px;
$header-height: 30px;

$light: #e9f5da;
$dark: #d3ecb5;
$extra-dark: #4a701d;

$score-row-font-size: 10pt;

.bordered {
    box-shadow: inset 0 0 0 .4px #000;
}