@import '@/Shared.module.scss';

.settingsBox {
    margin: 80px auto;
    max-width: 500px;
}

.reactiveControlGroup {
    flex-direction: row;
    @media screen and (max-width: 600px) {
        flex-direction: column !important;
    }
}