@import '@/Validation.scss';

.penaltyTable {
    justify-content: center;
    display: flex;
}

.playerNumberCell {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    font-size: 15pt !important;
    font-weight: bold;
    padding: 0 !important;
}

.penaltySideTable {
    min-width: 60px;
}