.penaltyTable {
    justify-content: center;
    display: flex;
}

.playerNumberCell {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    font-size: 20px !important;
    font-weight: bold;
}