.loadingContainer {
    width: 100vw;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadingStatus {
    animation: blinking 1s linear infinite;
}

.statusIcon {
    margin: 0 7px;
}

@keyframes blinking {
    50% {
        opacity: 0.5;
    }
}