.officialsRoster {
    padding-bottom: 140px;
}

.officialsRoster>button {
    margin-bottom: 100px;
}

.officialsContainer {
    margin: auto;
    padding: 10px;
    max-width: 700px;
}

.officialItem {
    flex-wrap: wrap;
    @media screen and (max-width: 600px) {
        flex-direction: column !important;
    }

    :global(.bp5-form-group) {
        max-width: 49%;

        @media screen and (max-width: 600px) {
            max-width: 95%;
        }
    }
}

.officialItem label {
    /* width: 50px;
    text-align: right; */
    text-align: left;
}